body{
    background-color: greenyellow;
}
h1{
    background-color: chartreuse;
    color: green;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: 'Courier New', Courier, monospace;
}